.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px 5px purple;
}
.Header {
  color: goldenrod;
  font-weight: bold;
  text-shadow: 7px 7px 7px whitesmoke;
  
}
/* write your parent styles in here for your App.js */
